langchain_huggingface
langchain
langchain_unstructured
langchain_postgres
sqlalchemy
python-dotenv
langchain_community
transformers
fastapi
pydantic
psycopg2
uvicorn
python-multipart

openai
pika
aio_pika