fastapi
uvicorn
langchain
langchain-community
unstructured
numpy
psycopg2-binary
python-multipart
langchain_unstructured
confluent-kafka

sentence-transformers
pgvector
asyncpg
transformers
torch
huggingface-hub